* {
    margin: 0;
    padding: 0;
    font-family: Inter;
}

header{
    background-image: url("../images/Hero-bg.png");
    height: 500px;
}

.navbar{
    display: flex;
    justify-content:space-around;
    gap: 45vw;
    padding-top: 50px;}

.nav-button{
    padding: 15px 40px;
    border-radius: 12px;
    background-color: rgb(78, 71, 255);
    font-weight: 500;
    color: white;
    border: none;
    font-size: 16px;
}

.nav-logo{
    font-size: 30px;
    font-weight: 800;
    color: rgb(78, 71, 255);
}

.banner-text{
    text-align: center;
    margin-top: 150px;
    font-size: 40px;
    font-weight: 600;
}

.banner-button{
    display: flex;
    margin: 50px auto;
}

.main-1-container{
    display: flex;
    margin: 100px auto;
    justify-content: center;
    height: 10px;
    justify-content:space-around;
    gap: 10vw;
    
}

.title-1{
    font-size: 28px;
}

.subtitle-1{
    font-size: 18px;
    color: rgba(37, 36, 50, 0.7);
    margin-top: 10px;
}

.main-1-button{
    margin-top:30px ;
}

.main-1-img{
    border-radius: 30px;
}



